* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
}
.admin {
    width: 100%;
    display: flex;
    height: 100vh;
    object-fit: cover;
    align-items: right;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-evenly;
    background-image: url('./mont.png');
    .form {
        z-index: 10;
        display: flex;
        justify-content: center;
        margin-left:-20rem ;
        flex-direction: column;
        .Heading {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            color: white;
            font-family: 'Poppins', sans-serif;
            h1 {
                padding: 1rem;   
                font-size: 4rem;
            }
            p {
                padding: 1rem;
                font-size: 1.5rem;
            }
            a {
                text-decoration: none;
                text-underline-offset: unset;
                color: white;
                padding: 1rem;
                font-size: 1.5rem;
            }

        }
        .inputs {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;

            .input {
                height: 3rem;
                width: 20rem;
                border-radius:20px ;
                margin-bottom: 1rem;
                border-style: solid;
                padding-left: 1.5rem;

            }
        }
        .btn {
            width:8rem ;
            height: 2rem;
            display: flex;
            border-style: none;
            align-items: center;
            border-radius: 30px;
            justify-content: center;
            background-color:#1D90F4;
        }
 
    }
    
}